/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@keyframes spin {
  /* line 35, ../sass/_spinners.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 36, ../sass/_spinners.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  /* line 39, ../sass/_spinners.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 40, ../sass/_spinners.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes gogoloader {
  /* line 92, ../sass/_spinners.scss */
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 96, ../sass/_spinners.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* line 99, ../sass/_spinners.scss */
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes gogoloader {
  /* line 105, ../sass/_spinners.scss */
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 109, ../sass/_spinners.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* line 112, ../sass/_spinners.scss */
  100% {
    -webkit-transform: scale(1);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

@keyframes colorspin {
  /* line 179, ../sass/_spinners.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 179, ../sass/_spinners.scss */
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes colorspin {
  /* line 180, ../sass/_spinners.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 180, ../sass/_spinners.scss */
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

/* Ring Spinners 
HTML markup

<div class="CSS_CLASS_NAME">
  <div class="ring1">
    <div class="ring2">
      <div class="ring3">
        <div class="ring4">
        </div>
      </div>
    </div>
  </div>
</div>
*/
@keyframes ring_rotation {
  /* line 255, ../sass/_spinners.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 256, ../sass/_spinners.scss */
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ring_rotation {
  /* line 259, ../sass/_spinners.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 260, ../sass/_spinners.scss */
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 9, ../sass/screen.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 13, ../sass/screen.scss */
body {
  font-family: AllerLight;
  font-size: 16px;
}

/* line 30, ../sass/screen.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
  clear: both;
}

/* line 38, ../sass/screen.scss */
.loading_overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background: #fff;
  z-index: 9000;
}

/* line 46, ../sass/screen.scss */
.body_overlay_style {
  overflow: hidden;
}

/* line 49, ../sass/screen.scss */
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}
@media (max-width: 10000px) {
  /* line 49, ../sass/screen.scss */
  .spinner {
    animation: spin 1.5s linear 0s infinite alternate;
    /* Safari and Chrome: */
    -webkit-animation: spin 1.5s linear 0s infinite normal;
    -moz-animation: 1.5s linear 0s infinite normal spin;
    -ms-animation: spin 1.5s linear 0s infinite normal;
    width: 100px;
    height: 100px;
    border: 2px solid #8b68ac;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-left: -50px;
    margin-top: -50px;
  }
  /* line 15, ../sass/_spinners.scss */
  .spinner:after {
    content: "";
    width: 85%;
    height: 85%;
    background: -webkit-linear-gradient(45deg, white 0%, white 40%, rgba(255, 255, 255, 0.7) 60%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-5%, -5%);
    -moz-transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
    -o-transform: translate(-5%, -5%);
    transform: translate(-5%, -5%);
  }
  /* line 26, ../sass/_spinners.scss */
  .spinner.moon {
    border-left: 0;
    border-top: 0;
  }
  /* line 27, ../sass/_spinners.scss */
  .spinner.moon:after {
    display: none;
  }
}
@media (max-width: 768px) {
  /* line 49, ../sass/screen.scss */
  .spinner {
    animation: spin 1.5s linear 0s infinite alternate;
    /* Safari and Chrome: */
    -webkit-animation: spin 1.5s linear 0s infinite normal;
    -moz-animation: 1.5s linear 0s infinite normal spin;
    -ms-animation: spin 1.5s linear 0s infinite normal;
    width: 70px;
    height: 70px;
    border: 2px solid #8b68ac;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-left: -35px;
    margin-top: -35px;
  }
  /* line 15, ../sass/_spinners.scss */
  .spinner:after {
    content: "";
    width: 85%;
    height: 85%;
    background: -webkit-linear-gradient(45deg, white 0%, white 40%, rgba(255, 255, 255, 0.7) 60%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-5%, -5%);
    -moz-transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
    -o-transform: translate(-5%, -5%);
    transform: translate(-5%, -5%);
  }
  /* line 26, ../sass/_spinners.scss */
  .spinner.moon {
    border-left: 0;
    border-top: 0;
  }
  /* line 27, ../sass/_spinners.scss */
  .spinner.moon:after {
    display: none;
  }
}
@media (max-width: 640px) {
  /* line 49, ../sass/screen.scss */
  .spinner {
    animation: spin 1.5s linear 0s infinite alternate;
    /* Safari and Chrome: */
    -webkit-animation: spin 1.5s linear 0s infinite normal;
    -moz-animation: 1.5s linear 0s infinite normal spin;
    -ms-animation: spin 1.5s linear 0s infinite normal;
    width: 50px;
    height: 50px;
    border: 2px solid #8b68ac;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-left: -25px;
    margin-top: -25px;
  }
  /* line 15, ../sass/_spinners.scss */
  .spinner:after {
    content: "";
    width: 85%;
    height: 85%;
    background: -webkit-linear-gradient(45deg, white 0%, white 40%, rgba(255, 255, 255, 0.7) 60%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-5%, -5%);
    -moz-transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
    -o-transform: translate(-5%, -5%);
    transform: translate(-5%, -5%);
  }
  /* line 26, ../sass/_spinners.scss */
  .spinner.moon {
    border-left: 0;
    border-top: 0;
  }
  /* line 27, ../sass/_spinners.scss */
  .spinner.moon:after {
    display: none;
  }
}

/* line 73, ../sass/screen.scss */
nav.main {
  position: fixed;
  z-index: 1000;
  top: 240px;
  right: 50px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  display: none;
}
/* line 82, ../sass/screen.scss */
nav.main ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: relative;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
}
/* line 89, ../sass/screen.scss */
nav.main ul li {
  outline: 1px solid transparent;
  position: relative;
  padding: 0 25px 0 0;
  background: url(../../images/nav_slanted_corner.png) no-repeat bottom right transparent;
  margin: 0 0 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-origin: right 0;
  -moz-transform-origin: right 0;
  -ms-transform-origin: right 0;
  -o-transform-origin: right 0;
  transform-origin: right 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 99, ../sass/screen.scss */
nav.main ul li a {
  display: block;
  padding: 15px 0px 15px 25px;
  min-width: 200px;
  text-transform: uppercase;
  text-decoration: none;
  font-Size: 20px;
  color: #d7d7d7;
  background-color: #ea2872;
}
/* line 114, ../sass/screen.scss */
nav.main ul li a:hover {
  color: white;
}
/* line 121, ../sass/screen.scss */
nav.main ul li:nth-child(2) {
  left: 20px;
}
/* line 121, ../sass/screen.scss */
nav.main ul li:nth-child(3) {
  left: 40px;
}
/* line 121, ../sass/screen.scss */
nav.main ul li:nth-child(4) {
  left: 60px;
}
/* line 121, ../sass/screen.scss */
nav.main ul li:nth-child(5) {
  left: 80px;
}

/* line 128, ../sass/screen.scss */
footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  background: black;
  border-top: 1px solid #323232;
  padding: 10px;
  color: #858585;
  text-align: center;
  position: fixed;
  bottom: 0px;
  z-index: 1000;
  font-size: 80%;
}

/* line 144, ../sass/screen.scss */
body > div.video_BG.active {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #333;
}

/* line 158, ../sass/screen.scss */
.slanted_bg {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: fixed;
  width: 100%;
  height: 100%;
}
/* line 166, ../sass/screen.scss */
.slanted_bg .slant {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: absolute;
}
/* line 174, ../sass/screen.scss */
.slanted_bg.slanted_bg_1 {
  bottom: 0px;
  z-index: 2;
}
/* line 178, ../sass/screen.scss */
.slanted_bg.slanted_bg_1 .slant {
  bottom: 100px;
  left: 0px;
  height: 2000px;
  width: 90%;
  background: black;
  -webkit-transform: skew(-20deg, 20deg);
  -moz-transform: skew(-20deg, 20deg);
  -ms-transform: skew(-20deg, 20deg);
  -o-transform: skew(-20deg, 20deg);
  transform: skew(-20deg, 20deg);
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}
/* line 189, ../sass/screen.scss */
.slanted_bg.slanted_bg_2 {
  top: 0px;
  z-index: 4;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
}
/* line 194, ../sass/screen.scss */
.slanted_bg.slanted_bg_2 .slant {
  right: 0px;
  top: 10%;
  height: 200%;
  width: 55%;
  background: #323232;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-transform: rotateX(8deg) rotateY(15deg) skew(-20deg, 10deg);
  -moz-transform: rotateX(8deg) rotateY(15deg) skew(-20deg, 10deg);
  -ms-transform: rotateX(8deg) rotateY(15deg) skew(-20deg, 10deg);
  -o-transform: rotateX(8deg) rotateY(15deg) skew(-20deg, 10deg);
  transform: rotateX(8deg) rotateY(15deg) skew(-20deg, 10deg);
}

/* line 208, ../sass/screen.scss */
section.section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 215, ../sass/screen.scss */
section.section .wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* line 222, ../sass/screen.scss */
section.section .wrapper header {
  display: block;
  position: relative;
  left: 15%;
  width: 75%;
  height: 174px;
  max-width: 1600px;
  margin: 0 auto;
}
/* line 231, ../sass/screen.scss */
section.section .wrapper header .logo {
  display: block;
  width: 330px;
  height: 174px;
  position: absolute;
  z-index: 3;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 241, ../sass/screen.scss */
section.section .wrapper h1 {
  font-family: MuseoBold;
  font-size: 35px;
  margin-bottom: 15px;
}
/* line 248, ../sass/screen.scss */
section.section .wrapper h1.out {
  position: relative;
  overflow: hidden;
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
}
/* line 257, ../sass/screen.scss */
section.section .wrapper h1 div.pieces {
  display: inline-block;
  position: relative;
}
/* line 264, ../sass/screen.scss */
section.section .wrapper .content_box .blurb {
  position: relative;
  width: 90%;
  max-width: 1200px;
  font-family: AllerLight;
  font-size: 20px;
  line-height: 36px;
}
/* line 279, ../sass/screen.scss */
section.section.intro_logo_scene {
  position: relative;
  height: 1000px;
}
/* line 283, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 507px;
  height: 409px;
  margin: -204px 0px 0px -254px;
  background: url(../../images/hexagon_bg.png) no-repeat 0 0 transparent;
}
/* line 295, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box img.scroll {
  display: block;
  margin: 30px auto 0;
}
/* line 300, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken {
  position: relative;
  margin: 60px auto 60px;
  width: 330px;
  height: 174px;
}
/* line 308, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken .project, section.section.intro_logo_scene div.logo_box .logo_broken .miso {
  position: absolute;
}
/* line 311, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken .project {
  top: 39px;
  left: 0px;
}
/* line 315, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken .miso {
  top: 87px;
  left: 199px;
}
/* line 319, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken .bars {
  position: absolute;
}
/* line 322, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken .bars.top {
  top: 0px;
  left: 206px;
}
/* line 326, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken .bars.bottom {
  top: 91px;
  left: 130px;
}
/* line 331, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken .bars div {
  position: absolute;
  width: 8px;
}
/* line 335, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken .bars div.color_1 {
  background: #00c1e8;
  height: 62px;
}
/* line 339, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken .bars div.color_2 {
  background: #8c66ae;
  height: 83px;
}
/* line 343, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken .bars div.color_3 {
  background: #50ba3e;
  height: 62px;
}
/* line 347, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken .bars div.color_4 {
  background: #f7b900;
  height: 41px;
}
/* line 354, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken .bars.top div.color_1 {
  top: 21px;
  left: 54px;
}
/* line 358, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken .bars.top div.color_2 {
  top: 0px;
  left: 36px;
}
/* line 362, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken .bars.top div.color_3 {
  top: 21px;
  left: 18px;
}
/* line 366, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken .bars.top div.color_4 {
  top: 42px;
  left: 0px;
}
/* line 372, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken .bars.bottom div.color_1 {
  top: 0px;
  left: 0px;
}
/* line 376, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken .bars.bottom div.color_2 {
  top: 0px;
  left: 18px;
}
/* line 380, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken .bars.bottom div.color_3 {
  top: 0px;
  left: 36px;
}
/* line 384, ../sass/screen.scss */
section.section.intro_logo_scene div.logo_box .logo_broken .bars.bottom div.color_4 {
  top: 0px;
  left: 54px;
}
/* line 397, ../sass/screen.scss */
section.section.intro_scene2 {
  z-index: 3;
}
/* line 402, ../sass/screen.scss */
section.section.intro_scene2 .wrapper header .logo {
  background: url(../../images/logo_02.png) no-repeat 0 0;
  right: 0%;
}
/* line 407, ../sass/screen.scss */
section.section.intro_scene2 .wrapper .content_box {
  position: relative;
  z-index: 4;
  top: 32%;
  left: 15%;
  width: 60%;
  max-width: 1600px;
  margin: 0 auto;
}
/* line 416, ../sass/screen.scss */
section.section.intro_scene2 .wrapper .content_box h1 {
  color: white;
  text-align: right;
}
/* line 420, ../sass/screen.scss */
section.section.intro_scene2 .wrapper .content_box .blurb {
  color: #c8c8c8;
  margin: 60px auto 0;
}
/* line 433, ../sass/screen.scss */
section.section.intro_scene3 .wrapper header {
  position: absolute;
  top: 20px;
}
/* line 437, ../sass/screen.scss */
section.section.intro_scene3 .wrapper header .logo {
  background: url(../../images/logo_01.png) no-repeat 0 0;
  right: 0%;
}
/* line 443, ../sass/screen.scss */
section.section.intro_scene3 .wrapper .content_box {
  position: relative;
  z-index: 5;
  top: 32%;
  left: 15%;
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
}
/* line 453, ../sass/screen.scss */
section.section.intro_scene3 .wrapper .content_box h1 {
  position: relative;
  color: #323232;
}
/* line 457, ../sass/screen.scss */
section.section.intro_scene3 .wrapper .content_box h1 div.segment {
  float: left;
}
/* line 461, ../sass/screen.scss */
section.section.intro_scene3 .wrapper .content_box .blurb {
  color: #323232;
  margin: 70px 0 0;
}
/* line 472, ../sass/screen.scss */
section.section.intro_scene4 {
  z-index: 4;
}
/* line 475, ../sass/screen.scss */
section.section.intro_scene4 .wrapper header {
  z-index: 11;
  left: 5%;
  position: absolute;
  top: 20px;
}
/* line 481, ../sass/screen.scss */
section.section.intro_scene4 .wrapper header .logo {
  position: absolute;
  top: 0px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 490, ../sass/screen.scss */
section.section.intro_scene4 .wrapper header .logo.one {
  background: url(../../images/logo_01.png) no-repeat 0 0;
}
/* line 493, ../sass/screen.scss */
section.section.intro_scene4 .wrapper header .logo.two {
  background: url(../../images/logo_02.png) no-repeat 0 0;
}
/* line 499, ../sass/screen.scss */
section.section.intro_scene4 .wrapper h1 {
  position: absolute;
  z-index: 8;
  overflow: hidden;
}
/* line 504, ../sass/screen.scss */
section.section.intro_scene4 .wrapper h1 span.content {
  white-space: nowrap;
}
/* line 508, ../sass/screen.scss */
section.section.intro_scene4 .wrapper h1.one {
  color: white;
  top: -90px;
  left: 0px;
  background-color: #00c1e8;
  padding: 25px 200px 25px 35px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
/* line 518, ../sass/screen.scss */
section.section.intro_scene4 .wrapper h1.two {
  color: white;
  top: -100px;
  left: -60px;
  background-color: #f7b900;
  padding: 25px 200px 25px 35px;
  -webkit-transform: rotate(-28deg);
  -moz-transform: rotate(-28deg);
  -ms-transform: rotate(-28deg);
  -o-transform: rotate(-28deg);
  transform: rotate(-28deg);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
/* line 528, ../sass/screen.scss */
section.section.intro_scene4 .wrapper h1.three {
  color: white;
  top: -100px;
  left: -60px;
  background-color: #8c66ae;
  padding: 25px 200px 25px 35px;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
/* line 539, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 6;
  width: 100%;
  height: 100%;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
}
/* line 549, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
/* line 555, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider .blurb {
  position: absolute;
}
/* line 558, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider .blurb .blurb_wrap {
  position: absolute;
  width: 100%;
}
/* line 566, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.one {
  z-index: 10;
}
/* line 569, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.one .blurb {
  top: 60%;
  color: #00c1e8;
}
/* line 574, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.one .laptop {
  position: absolute;
  top: 30%;
  width: 296px;
  height: 244px;
}
/* line 580, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.one .laptop div {
  position: absolute;
}
/* line 583, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.one .laptop div.screen.top {
  top: 0px;
  left: 117px;
}
/* line 586, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.one .laptop div.screen.right {
  top: 50px;
  left: 281px;
}
/* line 589, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.one .laptop div.keyboard.bottom {
  top: 144px;
  left: 0px;
}
/* line 592, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.one .laptop div.keyboard.right {
  top: 194px;
  left: 169px;
}
/* line 595, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.one .laptop div.arrow {
  top: 40px;
  left: 138px;
}
/* line 601, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.one.left {
  left: 0px;
  background: black;
}
/* line 605, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.one.left .blurb {
  right: 0px;
}
/* line 607, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.one.left .blurb .blurb_wrap {
  right: -50%;
}
/* line 612, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.one.left .laptop {
  right: -148px;
}
/* line 616, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.one.right {
  left: 50%;
  background: #323232;
}
/* line 620, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.one.right .blurb {
  left: 0px;
}
/* line 622, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.one.right .blurb .blurb_wrap {
  left: -50%;
}
/* line 626, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.one.right .laptop {
  left: -148px;
}
/* line 633, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.two {
  z-index: 9;
}
/* line 636, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.two .bulb {
  position: absolute;
  top: 30%;
  width: 159px;
  height: 232px;
}
/* line 642, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.two .blurb {
  top: 60%;
  color: #f7b900;
}
/* line 647, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.two.left {
  left: 0px;
  background: #323232;
}
/* line 651, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.two.left .blurb {
  right: 0px;
}
/* line 655, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.two.right {
  left: 50%;
  background: black;
}
/* line 659, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.two.right .blurb {
  left: 0px;
}
/* line 666, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.three {
  z-index: 8;
}
/* line 669, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.three .graph {
  position: absolute;
  top: 30%;
  width: 249px;
  height: 257px;
}
/* line 675, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.three .blurb {
  top: 60%;
  color: #8c66ae;
}
/* line 680, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.three.left {
  left: 0px;
  background: black;
}
/* line 684, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.three.left .blurb {
  right: 0px;
}
/* line 688, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.three.right {
  left: 50%;
  background: #c7c7c7;
}
/* line 692, ../sass/screen.scss */
section.section.intro_scene4 .wrapper .content_box .slider.three.right .blurb {
  left: 0px;
}
/* line 707, ../sass/screen.scss */
section.section.intro_scene5 .wrapper header {
  z-index: 12;
  left: 5%;
  position: absolute;
  top: 20px;
}
/* line 713, ../sass/screen.scss */
section.section.intro_scene5 .wrapper header .logo {
  position: absolute;
  top: 0px;
}
/* line 717, ../sass/screen.scss */
section.section.intro_scene5 .wrapper header .logo.one {
  background: url(../../images/logo_01.png) no-repeat 0 0;
}
/* line 720, ../sass/screen.scss */
section.section.intro_scene5 .wrapper header .logo.two {
  background: url(../../images/logo_02.png) no-repeat 0 0;
}
/* line 727, ../sass/screen.scss */
section.section.intro_scene5 .wrapper .content_box {
  position: relative;
  z-index: 6;
  top: 0px;
  left: 50%;
  width: 3500px;
  height: 100%;
  margin-left: -1750px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
}
/* line 737, ../sass/screen.scss */
section.section.intro_scene5 .wrapper .content_box .stripe {
  width: 100px;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
}
/* line 744, ../sass/screen.scss */
section.section.intro_scene5 .wrapper .content_box .stripe.odd {
  background-color: #c7c7c7;
}
/* line 747, ../sass/screen.scss */
section.section.intro_scene5 .wrapper .content_box .stripe.even {
  background-color: black;
  color: white;
}
/* line 752, ../sass/screen.scss */
section.section.intro_scene5 .wrapper .content_box .stripe .content {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 460px;
}
/* line 757, ../sass/screen.scss */
section.section.intro_scene5 .wrapper .content_box .stripe .content h1 {
  white-space: no-wrap;
}
/* line 763, ../sass/screen.scss */
section.section.intro_scene5 .wrapper .content_box .stripe.heading_1 .content {
  left: 80px;
}
/* line 768, ../sass/screen.scss */
section.section.intro_scene5 .wrapper .content_box .stripe.heading_2 .content {
  left: -20px;
}
/* line 773, ../sass/screen.scss */
section.section.intro_scene5 .wrapper .content_box .stripe.heading_3 .content {
  left: -120px;
}
/* line 778, ../sass/screen.scss */
section.section.intro_scene5 .wrapper .content_box .stripe.heading_4 .content {
  left: -220px;
}
/* line 783, ../sass/screen.scss */
section.section.intro_scene5 .wrapper .content_box .stripe.heading_5 .content {
  left: -320px;
}

/* line 1, ../sass/_slideshow.scss */
#slides_botc {
  display: none;
}

/* Center the slideshow */
/* line 6, ../sass/_slideshow.scss */
.slide_container {
  margin: 0 auto;
}

/* Show active item in the pagination */
/* line 11, ../sass/_slideshow.scss */
.slidesjs-pagination .active {
  color: red;
}

/* Media quires for a responsive layout */
/* For tablets & smart phones */
@media (max-width: 767px) {
  /* line 21, ../sass/_slideshow.scss */
  .container {
    width: auto;
  }
}
/* For smartphones */
@media (max-width: 480px) {
  /* line 28, ../sass/_slideshow.scss */
  .container {
    width: auto;
  }
}
/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 979px) {
  /* line 35, ../sass/_slideshow.scss */
  .container {
    width: 724px;
  }
}
/* For larger displays */
@media (min-width: 1200px) {
  /* line 42, ../sass/_slideshow.scss */
  .container {
    width: 1170px;
  }
}
/* line 46, ../sass/_slideshow.scss */
.slidesjs-navigation {
  font-size: 20px;
  color: #323232;
  text-decoration: none;
}

/* line 51, ../sass/_slideshow.scss */
ul.slidesjs-pagination {
  float: right;
  list-style: none;
}
/* line 55, ../sass/_slideshow.scss */
ul.slidesjs-pagination li.slidesjs-pagination-item {
  display: block;
  float: left;
}
/* line 59, ../sass/_slideshow.scss */
ul.slidesjs-pagination li.slidesjs-pagination-item a {
  display: block;
  width: 8px;
  height: 0;
  padding-top: 8px;
  color: #323232;
  text-decoration: none;
  border: 3px solid #323232;
  overflow: hidden;
  border-radius: 8px;
  margin: 0px 4px;
}
/* line 71, ../sass/_slideshow.scss */
ul.slidesjs-pagination li.slidesjs-pagination-item a.active {
  background: #323232;
}

/* Before After */
/* line 81, ../sass/_slideshow.scss */
#section_ga .slide_container.slideshow .slidesjs-container {
  margin-bottom: 7px;
}
/* line 84, ../sass/_slideshow.scss */
#section_ga .slide_container.slideshow a.slidesjs-navigation {
  position: relative;
  top: -5px;
}
/* line 88, ../sass/_slideshow.scss */
#section_ga .slide_container.slideshow a.slidesjs-previous {
  margin-left: 5px;
}

/* line 93, ../sass/_slideshow.scss */
.slide_container.before_after {
  position: relative;
}
/* line 96, ../sass/_slideshow.scss */
.slide_container.before_after .slide_group {
  position: relative;
  float: left;
  overflow: hidden;
  border: 1px solid #dedede;
}
/* line 102, ../sass/_slideshow.scss */
.slide_container.before_after .slide_group .slider, .slide_container.before_after .slide_group .slides.after {
  position: absolute;
  top: 0px;
}
/* line 106, ../sass/_slideshow.scss */
.slide_container.before_after .slide_group .slider {
  cursor: col-resize;
  width: 40px;
  height: 100%;
  background: url(../../images/slider-before-after.png) no-repeat 0 50%;
  left: 50%;
  z-index: 15;
}
/* line 114, ../sass/_slideshow.scss */
.slide_container.before_after .slide_group .slides {
  max-width: 1278px;
}
/* line 117, ../sass/_slideshow.scss */
.slide_container.before_after .slide_group .slides img {
  display: block;
  width: 100%;
}
/* line 120, ../sass/_slideshow.scss */
.slide_container.before_after .before_after_labels {
  padding: 10px 0 0 0;
  clear: both;
  border-top: 1px solid #fff;
}
/* line 125, ../sass/_slideshow.scss */
.slide_container.before_after .before_after_labels span.label {
  display: block;
  float: left;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
}

/* For the largest possible displays - Put defaults here that may change later */
/* For larger  laptops */
/* For smaller displays like laptops */
/* For tablets & smart phones */
/* For smartphones */
/* For smartphones */
/* For smartphones smaller */
