/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";

//=============== Element Level Global Styles ============
html,body{
    width: 100%;
    height: 100%;
}
body{
    //background: url(../../images/bg_top2.jpg) no-repeat 50% 50% $clr_bodyColor;
    //background-size: cover;
    font: {                             //Device?
        family: AllerLight;
        size: 16px;
    }
}
h1,h2,h3,h4,h5{}
h1{}
h2{}
h3{}
h4{}
h5{}

//============ General Global Styles =============

.clearfix{
    @include clearfix;
    clear: both;
}

//====================== UI Level Stuff ==============

//------ Loading --------
.loading_overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px; left: 0px;
    background: #fff;
    z-index: 9000;
}
.body_overlay_style{
    overflow: hidden;
}
.spinner{
    @media (max-width: 10000px) {
        @include spinner(100px, 2px, #8b68ac);
        margin-left: -50px;
        margin-top: -50px;
    }
    @media (max-width: 768px) {
        @include spinner(70px, 2px, #8b68ac);
        margin-left: -35px;
        margin-top: -35px;
    }
    @media (max-width: 640px) {
        @include spinner(50px, 2px, #8b68ac);
        margin-left: -25px;
        margin-top: -25px;
    }

    position: absolute;
    left: 50%;
    top: 50%;
}


//-------- Navigation ---------
nav.main{
    position: fixed;
    z-index: 1000;
    top: 240px;                                                     //Device
    right: 50px;                                                    //Device
    @include transform (rotate(20deg));
    display: none;
    //@include opacity(0);
    
    ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
        position: relative;
        @include perspective (600px);
        
        li{
            outline: 1px solid transparent;
            position: relative;
            padding: 0 25px 0 0;
            background: url(../../images/nav_slanted_corner.png) no-repeat bottom right transparent;
            margin: 0 0 3px;
            @include box-sizing (border-box);
            @include transform-origin(right, 0);
            @include transform-style(preserve-3d);
            
            a{
                display: block;
                padding: 15px 0px 15px 25px;                        //Device
                min-width: 200px;                                   //Device   
                
                text: {
                    transform: uppercase;
                    decoration: none;
                }
                font:{
                    Size: 20px;
                }
                color: $clr_navLinks;
                background-color: $clr_navBG;
                
                &:hover{
                color: $clr_lightest;
                }
            }
        }
        $i: 2;
        @while $i < 6 {
            li:nth-child(#{$i}){
                left:  20px * ($i - 1);
            }
            $i: $i + 1;
        }
    }
}
footer{
    @include box-sizing(border-box);
    width: 100%;
    height: 30px;
    background: $clr_darkest;
    border-top: 1px solid $clr_darkGray;
    padding: 10px;
    color: $clr_lightGray / 1.5;
    text-align: center;
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    font-size: 80%;
}

//-------- Intro Video ---------
body > div.video_BG.active{
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: 0; 
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    background-color: #333;
}



//-------- Slanted Backgrounds ---------
.slanted_bg{
    @include transform(translateZ(0));
    @include backface-visibility (hidden);
    @include transform (translate3d(0, 0, 0));
    position: fixed;
    width: 100%;
    height: 100%;
    
    .slant{
        @include transform(translateZ(0));
        @include backface-visibility (hidden);
        @include transform (translate3d(0, 0, 0));
        position: absolute;
        //outline: 1px solid transparent;
    }
    
    &.slanted_bg_1{
        bottom: 0px;
        z-index: 2;
        
        .slant{
            bottom: 100px;                              //device
            left: 0px;
            height: 2000px;                             //device
            width: 90%;                                 //device
            background: $clr_darkest;
            @include transform (skew(-20deg, 20deg));   //device
            @include transform-origin (0%, 100%);
        }
    }
    
    &.slanted_bg_2{
        top: 0px;
        z-index: 4;
        @include perspective (600px);
        
        .slant{
            right: 0px;
            top: 10%;
            height: 200%;                               //device
            width: 55%;                                 //device
            background: $clr_darkGray;
            @include transform-origin (100%, 0%);
            @include transform(rotateX(8deg) rotateY(15deg) skew(-20deg, 10deg));
        }
    }
}


//--------- Scene 1 ---------------
section.section{
    @include box-sizing(border-box);
    //border-bottom: 1px solid #999;
    position: relative;
    
    
    
    .wrapper{
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        
        
        header{
            display: block;
            position: relative;
            left: 15%;                                  //Device
            width: 75%;
            height: 174px;                              //device
            max-width: 1600px;                          //device
            margin:  0 auto;
            
            .logo{
                display: block;
                width: 330px;                           //device
                height: 174px;                          //device
                position: absolute;
                z-index: 3;
                @include background-size(contain);
            }
        }
        
        h1{
            font:{
                family: MuseoBold;
                size: 35px;                         //Device
            }
            margin-bottom: 15px;                    //Device
    
            &.out{
                position: relative;
                overflow: hidden;
                width: 0px;
                height: 0px;
                padding: 0px;
                margin: 0px;
            }
    
            div.pieces{
                display: inline-block;
                position: relative;
            }
        }
            
        .content_box{
            .blurb{
                position: relative;
                width: 90%;                             //Device
                max-width: 1200px;                       //Device

                font:{
                    family: AllerLight;
                    size: 20px;                         //Device
                }
                line-height: 36px;                      //Device
            }
        }
    }
            
    //------ Logo Scene -------
    &.intro_logo_scene{
        position: relative;
        height: 1000px;
        
        div.logo_box{
            position: fixed;
            top: 50%;
            left: 50%;
            width:507px;
            height: 409px;
            margin: -204px 0px 0px -254px;                   //device
            
            background: url(../../images/hexagon_bg.png) no-repeat 0 0 transparent;
            //background: rgba(255, 255, 255, .95);
            //@include border-radius(100%);
            
            img.scroll{
                display: block;
                margin: 30px auto 0;
            }
            
            .logo_broken{
                position: relative;
                margin: 60px auto 60px;
                //top: 0px;
                //left: 0px;
                width: 330px;
                height: 174px;
                
                .project, .miso{
                    position: absolute;
                }
                .project{
                    top: 39px;
                    left: 0px;
                }
                .miso{
                    top: 87px;
                    left: 199px;
                }
                .bars{
                    position: absolute;
                    
                    &.top{
                        top: 0px;
                        left: 206px;
                    }
                    &.bottom{
                        top: 91px;
                        left: 130px;
                    }
                    
                    div{
                        position: absolute;
                        width: 8px;
                        
                        &.color_1{
                            background: $logoColor_1;
                            height: 62px;
                        }
                        &.color_2{
                            background: $logoColor_2;
                            height: 83px;
                        }
                        &.color_3{
                            background: $logoColor_3;
                            height: 62px;
                        }
                        &.color_4{
                            background: $logoColor_4;
                            height: 41px;
                        }
                    }
                    
                    &.top{
                        div.color_1{
                            top: 21px;
                            left: 54px;
                        }
                        div.color_2{
                            top: 0px;
                            left: 36px;
                        }
                        div.color_3{
                            top: 21px;
                            left: 18px;
                        }
                        div.color_4{
                            top: 42px;
                            left: 0px;
                        }
                    }
                    &.bottom{
                        div.color_1{
                            top: 0px;
                            left: 0px;
                        }
                        div.color_2{
                            top: 0px;
                            left: 18px;
                        }
                        div.color_3{
                            top: 0px;
                            left: 36px;
                        }
                        div.color_4{
                            top: 0px;
                            left: 54px;
                        }
                    }
                }
            }
            
        }
    }
    
    
    //------- Intro Scene 2: Black Slanted Background ---------
    &.intro_scene2{
        z-index: 3;
        .wrapper{
            
            header{
                .logo{
                    background: url(../../images/logo_02.png) no-repeat 0 0;
                    right: 0%;
                }
            }
            .content_box{
                position: relative;
                z-index: 4;
                top: 32%;
                left: 15%;                                   //Device
                width: 60%;                                 //device ?
                max-width: 1600px;                          //Device
                margin:  0 auto;
                
                h1{
                    color:  $clr_lightest;
                    text-align: right;
                }
                .blurb{
                    color:  $clr_lightGray;
                    margin: 60px auto 0;                    //Device
                }
            }
        }
    }
    
    
    
    //------- Intro Scene 3: Black Slanted Background ---------
    &.intro_scene3{
        .wrapper{
            header{
                position: absolute; //to be turned into fixed in scrolling
                top: 20px;          //same position where Scene 2 ended
                
                .logo{
                    background: url(../../images/logo_01.png) no-repeat 0 0;
                    right: 0%;
                }
            }
            
            .content_box{
                position: relative;
                z-index: 5;
                top: 32%;
                left: 15%;                                   //Device
                width: 80%;                                 //device ?
                max-width: 1600px;                          //Device
                margin:  0 auto;
                @include perspective (600px);
                
                h1{
                    position: relative;
                    color:  $clr_darkGray;
                    
                    div.segment{
                        float: left;
                    }
                }
                .blurb{
                    color:  $clr_darkGray;
                    margin: 70px 0 0;                      //Device
                }
                
            }
            
        }
    }
    
    //------- Intro Scene 3: Black Slanted Background ---------
    &.intro_scene4{
        z-index: 4;
        .wrapper{
            header{
                z-index: 11;
                left: 5%;                                   //Device
                position: absolute; //to be turned into fixed in scrolling
                top: 20px;          //same position where Scene 2 ended
                
                .logo{
                    position: absolute;
                    top: 0px;
                    @include transform-style(preserve-3d);
                    
                    @include transform(translateZ(0));
                    @include backface-visibility (hidden);
                    @include transform (translate3d(0, 0, 0));
                    
                    &.one{
                        background: url(../../images/logo_01.png) no-repeat 0 0;
                    }
                    &.two{
                        background: url(../../images/logo_02.png) no-repeat 0 0;
                    }
                }
            }
            
            h1{
                position: absolute;
                z-index: 8;
                overflow: hidden;
                
                span.content{
                    white-space: nowrap;
                }
                
                &.one{
                    color: $clr_lightest;
                    top: -90px;                                 //Device?
                    left: 0px;                                  //Device?
                    background-color:  $logoColor_1;
                    padding: 25px 200px 25px 35px;              //Device
                    @include transform (rotate(-30deg));
                    @include transform-origin(100%, 50%);
                }
                
                &.two{
                    color: $clr_lightest;
                    top: -100px;                                //Device?
                    left: -60px;                                //Device?
                    background-color:  $logoColor_4;
                    padding: 25px 200px 25px 35px;              //Device
                    @include transform (rotate(-28deg));
                    @include transform-origin(100%, 50%);
                }
                
                &.three{
                    color: $clr_lightest;
                    top: -100px;                                //Device?
                    left: -60px;                                //Device?
                    background-color:  $logoColor_2;
                    padding: 25px 200px 25px 35px;              //Device
                    @include transform (rotate(-25deg));
                    @include transform-origin(100%, 50%);
                }
            }
            
            .content_box{
                position: relative;
                top: 0px;
                left: 0px;    
                z-index: 6;
                width: 100%;
                height: 100%;
                //max-width: 1000px;                            //Device
                @include perspective (600px);
                
                .slider{
                    position: absolute;
                    width: 50%;
                    height: 100%;
                    overflow: hidden;
                    
                    .blurb{
                        position: absolute;
                        
                        .blurb_wrap{
                            position: absolute;
                            width: 100%;
                        }
                    }
                    
                    
                    //-------- Slide 1 -------
                    &.one{
                        z-index: 10;
                        
                        .blurb{
                            top: 60%;
                            color:  $logoColor_1;
                        }
                    
                        .laptop{
                            position: absolute;
                            top: 30%;
                            width: 296px;
                            height: 244px;
                    
                            div{
                                position: absolute;
                        
                                &.screen.top{
                                    top: 0px; left: 117px;
                                }
                                &.screen.right{
                                    top: 50px; left: 281px;
                                }
                                &.keyboard.bottom{
                                    top: 144px; left: 0px;
                                }
                                &.keyboard.right{
                                    top: 194px; left: 169px;
                                }
                                &.arrow{
                                    top: 40px; left: 138px;
                                }
                            }
                        }
                    
                        &.left{
                            left: 0px;
                            background: $clr_darkest;
                        
                            .blurb{
                                right: 0px;
                                .blurb_wrap{
                                    right: -50%;
                                }
                            }
                            
                            .laptop{
                                right: -148px;
                            }
                        }
                        &.right{
                            left: 50%;
                            background: $clr_darkGray;
                        
                            .blurb{
                                left: 0px;
                                .blurb_wrap{
                                    left: -50%;
                                }
                            }
                            .laptop{
                                left: -148px;
                            }
                        }
                    }
                    
                    //------- Slide 2 --------
                    &.two{
                        z-index: 9;
                    
                        .bulb{
                            position: absolute;
                            top: 30%;
                            width: 159px;
                            height: 232px;
                        }
                        .blurb{
                            top: 60%;
                            color: $logoColor_4;
                        }
                        
                        &.left{
                            left: 0px;
                            background: $clr_darkGray;
                        
                            .blurb{
                                right: 0px;
                            }
                        }
                        &.right{
                            left: 50%;
                            background: $clr_darkest;
                        
                            .blurb{
                                left: 0px;
                            }
                        }
                    }
                    
                    //------- Slide 3 --------
                    &.three{
                        z-index: 8;
                    
                        .graph{
                            position: absolute;
                            top: 30%;
                            width: 249px;
                            height: 257px;
                        }
                        .blurb{
                            top: 60%;
                            color: $logoColor_2;
                        }
                        
                        &.left{
                            left: 0px;
                            background: $clr_darkest;
                        
                            .blurb{
                                right: 0px;
                            }
                        }
                        &.right{
                            left: 50%;
                            background: $logoColor_5;
                        
                            .blurb{
                                left: 0px;
                            }
                        }
                    }
                }
                
            }
        }
    }
    
    
    //------- Intro Scene 3: Black Slanted Background ---------
    &.intro_scene5{
        .wrapper{
            header{
                z-index: 12;
                left: 5%;                                   //Device
                position: absolute; //to be turned into fixed in scrolling
                top: 20px;          //same position where Scene 2 ended
                
                .logo{
                    position: absolute;
                    top: 0px;
                
                    &.one{
                        background: url(../../images/logo_01.png) no-repeat 0 0;
                    }
                    &.two{
                        background: url(../../images/logo_02.png) no-repeat 0 0;
                    }
                }
            }
            
            
            .content_box{
                position: relative;
                z-index: 6;
                top: 0px;
                left: 50%;   
                width: 3500px;                                  //Device?
                height: 100%;
                margin-left: -1750px;                           //Device
                @include perspective (600px);
                
                .stripe{
                    width: 100px;                               //Device
                    height: 100%;
                    position: relative;
                    overflow: hidden;
                    float: left;
                    
                    &.odd{
                        background-color: $logoColor_5;
                    }
                    &.even{
                        background-color: $clr_darkest;
                        color: $clr_lightest;
                    }
                    
                    .content{
                        position: absolute;
                        top: 50%;
                        margin-top: -50px;                      //Device
                        width: 460px;                           //Device
                        h1{
                            white-space: no-wrap;
                        }
                    }
                    
                    &.heading_1 {
                        .content{
                            left: 80px;                         //Device
                        }
                    }
                    &.heading_2 {
                        .content{
                            left: -20px;                        //Device
                        }
                    }
                    &.heading_3 {
                        .content{
                            left: -120px;                       //Device
                        }
                    }
                    &.heading_4 {
                        .content{
                            left: -220px;                       //Device
                        }
                    }
                    &.heading_5 {
                        .content{
                            left: -320px;                //Device
                        }
                    }
                }
            }
        }
    }
}







//=========== Additional Modules =========
@import "slideshow";
@import "device";